.npmrc

/.eslintrc.js
/.editorconfig
/.gitattributes
/.stylelintignore

/node_modules
/yarn.lock
/yarn-error.log

/.storybook

/.vscode
/tsconfig.json      
/webpack.config.js

/storybook-static
/dist/**/*.stories.*
/src/**/*.stories.*
/src/webpack.d.ts